[submodule "pack/addons/start/ale"]
	path = pack/addons/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/addons/start/vim-devicons"]
	path = pack/addons/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/addons/start/vim-fugitive"]
	path = pack/addons/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/addons/start/vim-surround"]
	path = pack/addons/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/addons/opt/vifm.vim"]
	path = pack/addons/opt/vifm.vim
	url = https://github.com/vifm/vifm.vim.git
[submodule "pack/addons/opt/fzf.vim"]
	path = pack/addons/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
